body {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    width: 990px;
    align-content: center;
}

section {
    align-content: center;
}

section header {
    background-color: #eeeeee;
    color: #32bea6;
    vertical-align: middle;
}

article#logo>img {
    margin: 10px;
    padding: 0px;
    display: block;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}

article#links {
    color: #32bea6;
}

article#links>ul {
    list-style: none;
}

article#links>ul>li {
    display: inline;
    margin: 0 20px 0 0;
}

a:hover {
    color: #e0878e;
}

/*div#poster>img {
    width: auto;
    height: auto;
    scale: auto;
}*/

article#summary>h1 {
    margin-top: 10px;
    font-size: 3em;
}

article#summary {
    text-align: left;
}

table {
    table-layout: fixed;
    border: dotted 1px black;
    border-collapse: collapse;
    width: 100%;
}

table th {
    border: 0 0 3px 0 solid black;
    text-align: center;
}

table td:nth-child(odd) {
    padding: 0 5px 0 0;
    text-align: right;
}

table td:nth-child(even) {
    padding: 0 0 0 5px;
}

table tr:nth-child(odd) {
    background-color: #bebebe;
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:last-child() {
    font-size: 70%;
}

table td:hover {
    background-color: #ce0000;
}

div#sidebar>h2 {
    font-size: 21px;
}

article.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1fr;
    gap: 10px;
}

div#interests {
    margin: 25px 0 0 0;
}

div#interests>h2 {
    font-size: 2em;
}

section footer {
    margin: 25px 0 0 0;
    background-color: #eeeeee;
    color: #32bea6;
    font-size: 14px;
}

footer h2 {
    font-size: 16px;
}

footer ul {
    list-style: none;
    text-align: left;
    margin: 5px
}

footer ul li {
    list-style: none;
    text-align: left;

}

article#copyright {
    margin: 5px;
    font-family: cursive;
    text-align: bottom right;
}

@media (max-width: 990px) {
    div#content {
        margin: 0 15px 0 15px;
    }

    div#sidebar {
        margin: 20px 15px 0 15px;
    }

    article.grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-container:nth-child(4){
        display: none;
    }

    .grid-container:nth-last-child() {
        display: none;
    }

}