body {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
}

header {
    background-color: #eeeeee;
    color: #32bea6;
    padding: 10px;
    text-align: center;
}

header#logo{
    float: left;
    height: 50px;
    width: 50px;
}

header#links{
    float: right;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
    margin: 0 10px 0 0;
    line-height: center;
}

a.hover {
    color: #e0878e;
}

.overview ul{
    list-style: none;
}

.overview li{
    display: inline;
}

footer {
    padding-top: 25px;
    background-color: #eeeeee;
    color: #32bea6;
    padding: 10px;
    text-align: center;
}

footer ul {
    font-size: 14px;
    list-style-type: none;;
    padding: 10px;
    line-height: center;
}