body {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}

body > section {
    width: 1200px;
    margin: auto;
}   

header {
    background-color: #eeeeee;
    color: #32bea6;
    padding: 10px;
    text-align: center;
}

header#logo{
    float: left;
    display: inline;
    max-width: 50px;
    object-fit: scale-down;
}

header#links{
    float: right;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
    margin: 0 10px 0 0;
    line-height: center;
}

a:hover {
    color: #e0878e;
}

div#poster{
    clear: both;
}

div#content{
    float: left;
    width: 66%;
}

article#summary > h1{
    font-size: 3em;
}

table{
    border: dotted 1px black;
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    margin:0px;
    padding:0px;
}

tr:nth-child(odd){
   background-color:white;
}

tr:nth-child(even){
   background-color:#bebebe;
}

td{
    vertical-align:middle;
    border:1px solid #8c4646;
    border-width:0px 1px 1px 0px;
    padding:3px;
}

td:nth-child(odd){
   text-align: right;
}

td:nth-child(even){
   text-align: left;
}

td:hover{
    background-color: #ce0000;
}

article#sidebar{
    float: left;
    width: 33%;
}

#sidebar > h2{
    font-size: 21px;
}
    
div#interests{
    clear: both;
}

#interests > ul{
    list-style: none;
}

#interests > ul > li{
    display: inline;
}

footer {
    padding-top: 25px;
    background-color: #eeeeee;
    color: #32bea6;
    font-size: 14px;
}

footer h2{
    font-size: 16px;
}

footer#movies{
float: left;
text-align: left;
}

footer ul{
    list-style: none;
}

footer#events{
    float: left;
    text-align: left;
}


footer#campussen{
    float: left;
    text-align: left;
}
