body {
    font: 1.1em Verdana;
    background-color: silver;
    color: darkblue;
}

h1 {
    font-variant: small-caps;
    background-color: red;
}

a:before {
    content: '';
    display: inline-block;
    background-image: url('/images/url.png');
    width: 5px;
    height: 5px;
}

a:hover {
    border: 1px solid rgb(245, 9, 147);
    
}

.stippeltjesrand {
    border: 1px dotted black;
}
