/* styling for CSS lab 1 oef 6*/

body {
    font-family: Arial;
    background-color: #f0f0f0;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-family: 'Times New Roman';
    font-size: 1.2em;
}

p.blue {
    color: blue;
}

p.red {
    color: red;
}

p.green {
    color: green;
}